{% extends 'store/main.html' %}

{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

{% block content %}

    <div class="col-lg-12">
        <div class="box-element" id="form-wrapper">
            <form method="post">
                {% csrf_token %}
                <center><h3><b>Create an account with us!</b></h3></center>

                <div id="user-info">
                    <div class="form-field">
                        <fieldset class="form-group">
                            <legend class="border-bottom mb-4">Enjoy shopping!</legend>
                            {{form|crispy}}
                        </fieldset>
                        <input class="btn btn-success btn-block" type="submit" name="Create">
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}
